* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 5%;
    margin-bottom: 3;
}

.navbar-gb a {
    color: black;
    font-weight: 700;
}
.navbar-gb a:hover {
    color: #CCCCCC;
}

.bg-gray {
    background-color: #f2f2f2;
    padding: 1%;
}

/*Mise en forme du premier espace*/
.middle {
    margin-bottom: 2%;
}

.middle h2,
.middle h3
{
    color: #8cc63f;
    font-weight: 600;
}

.title {
    margin-top: 5%;
}

h1 {
    font-size: 4.5rem;
    color: #8cc63f;
    font-weight: 800;
    letter-spacing: -2px;
}

h2 {
    font-size: 2.5rem
} 

h3 {
    font-size: 2rem
} 

td {
    vertical-align: top;
    padding: 2%;
}
 table,
 tbody {
     width: 100%;
 }
img {
    box-shadow: 4px 4px 5px #8cc63f;
}

.noeffect {
    box-shadow: none!important;
}

.imgBanner {
    background-image: url('../img/banner-journees-aux-champs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 4px 4px 5px #8cc63f;
    min-height: 500px;
}

.imgBanner .title {
    background-color: white;
    opacity: 0.7;
    height: auto;
}

.imgBanner .container {
    margin-right: 3%!important;
    max-width: 90%!important;
}

.lieux {
    margin-top: 5%;
    color: white;
    text-shadow: 1px 1px black;
}

.lieux p{
    font-size: 1.5rem;
}

.imgStrategie {
    background-image: url('../img/journee_aux_champs_gregoire_besson_strategie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 4px 4px 5px #8cc63f;
    min-height: 150px;
}

.maps {
    width: 100%;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.card {
    margin-bottom: 1%;
    margin-right: 1%;
}

#programme ul li {
    list-style-type: circle;
}

@media all {
    .btn-GB {
        background-color: #8cc63f;
        color: white;
        width: 100%;
        font-size: 10px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s; 
    }
    
    .btn-GB:hover{
        background-color: white;
        border: 1px solid #8cc63f;
        color: #8cc63f;
    }

    .cookies {
        padding: 15px 50px;
        display: none;
        background-color: white;
        bottom: 0px;
        border-top: 2px solid rgb(68, 68, 68);
        position: fixed;
    }

    .cookies div div {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .col-titre {
        vertical-align: middle;
    }

    .small {
        display: none;
    }
}

@media all and (max-width: 720px) {
    .btn-GB {
        background-color: #8cc63f;
        color: white;
        width: 90%;
        font-size: 8px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s; 
    }
    
    .btn-GB:hover{
        background-color: white;
        border: 1px solid #3C3C3B;
        color: #3C3C3B;
    }

    .responsive {
        width: 50%;
    }

    .cookies {
        padding: 0px 10px;
        display: none;
        background-color: white;
        bottom: 0px;
        border-top: 1px solid rgb(68, 68, 68);
        position: fixed;
    }

    .cookies div div {
        margin-bottom: 0px;
        font-size: 10px;
    }

    table {
        font-size: 0.5rem;
    }

    .col-titre {
        vertical-align: middle;
        text-orientation: upright;
        writing-mode: vertical-lr;
    }

    .large {
        display: none;
    }

    .small {
        display: inline;
    }

    h1 {
        font-size: 3.5rem;
        color: #8cc63f;
        font-weight: 600;
        letter-spacing: -1px;
    }
    
    h2 {
        font-size: 1.5rem
    } 
    
    h3 {
        font-size: 1.25rem
    } 
}

